#coop_overview table{margin-left:20px}#coop_overview span.currency{display:inline-block;width:150px;text-align:right}#coop_overview span.currency.red{color:red}#coop_memberview .label{display:inline-block;width:120px}#coop_memberview table{margin-top:10px}#coop_deliveries .data-table tr:hover{background:#ddd}#coop_delivery_edit .data-table tr:hover{background:#ddd}#coop_delivery_edit .text-with-button .formfield-input{width:84%}#coop_delivery_edit .text-with-button button{float:right;width:14%}#coop_delivery_edit>div{clear:both}#coop_delivery_edit .delivery-item:nth-child(odd){background:#ddd}#coop_delivery_edit .delivery-item-line-1>span{display:block;float:right;margin-right:10px}#coop_delivery_edit .delivery-item-line-1{margin-right:10px;font-size:1.2em}

/*# sourceMappingURL=coop.css.map */