.formfield-input{height:200px !important;white-space:pre;overflow:hidden}.formfield-input span{display:block;float:left}.formfield-input span.br{clear:both;height:32px;width:2px}.formfield-input .formfield-input span.nl{height:32px;width:2px}.formfield-input span.cursor::before{display:block;float:left;content:" ";width:2px;background:black;height:28px;position:relative}#message-form .header{font-size:1.4em;font-weight:bold}#message-form .footer{text-align:right}

/*# sourceMappingURL=message-form.css.map */