
@import 'colors';

#admin-login {
    margin-top: 6em;
    margin-left: 10em;
    
    & > span {
        font-size: 2em;
        font-weight: bold;
    }
    .keypad-field {
        font-size: 2em;
        margin-left: 20px;
        width: 4em;
    }

    .admin-login-error {
            margin-top:2em;
            color: $error-color;
            font-size: 1.5em;
    }
}

#release-notes {

    h3 {
        margin:0;
    }
    h4 {
        margin:0;
        margin-left: 12px;
    }
    p {
        margin:0;
        margin-left: 16px;
    }

    a.releasenotes {
        display: block;
        text-align: right;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        color: $text-color;
    }
    a:visited {
        color: $text-color;
    }
}

#messages {
    h3 {
        margin: 0;
    }

    .message {
        margin: 4px;
        border: 1px solid $border-color;
        margin-left: 16px;
        padding: 2px 6px;

        background: linear-gradient(to right, rgb(225,255,255) 0%,rgb(225,255,255) 7%,rgb(225,255,255) 12%,rgb(230,248,253) 30%,rgb(200,238,251) 54%,rgb(190,228,248) 75%,rgb(177,216,245) 100%);

        &.sticky {
            border-left: 4px solid green;
            padding-left: 4px;
        }
        &.urgent {
            border-left: 4px solid red;
            padding-left: 4px;
        }
        &.even {
            background: linear-gradient(to right, rgb(238,242,240) 0%,rgb(238,242,240) 7%,rgb(238,242,240) 12%,rgb(241,243,242) 30%,rgb(223,229,227) 54%,rgb(216,222,221) 75%,rgb(208,214,213) 100%);
        }

        img.icon {
            float: left;
            height: 32px;
        }
    }

    a.messages {
        display: block;
        text-align: right;
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        color: $text-color;
    }
    a:visited {
        color: $text-color;
    }
    
}

