
@import 'colors';

#cart-list {
    .cart-list-entry {
        display: block;
        border: 1px solid $border-color;
        padding: 3px;
        background: #ccc;
        margin-bottom: 4px;
        font-size: 1.2em;

        .cart-date {
            font-weight: bold;
            font-size: 1.5em;
            float: left;
            width: 350px;
            
        }
        .cart-items {
            display:block;
            float: right;
            font-weight: bold;
        }
        .cart-price {
            display:block;
            float: right;
            width: 130px;
            font-weight: bold;
            text-align: right;
        }
        .remark {
            font-size: .9em;
            padding-left: 1em;
        }
        .creator {
            font-size: .7em;
            padding-left: 1em;
        }
}
    .cart-list-entry:nth-child(even) {
        background: #ddd;
    }
    .cart-list-entry:hover {
        background: #bbb;
    }
}


#cart-view {
    display: table;
    height: 100%;
    width:100%;

    .cart-view-item-list {
        display: table-row;
        height: 100%;

        table {
            width: 100%;
            font-size: 1.4em;

            tr.cart-view-item {
                cursor: pointer;
            }
            tr:nth-child(odd) {background: $table-odd-color; }
            tr:nth-child(even) {background: $table-even-color; }
            tr:first-child {background: $table-head-color; }
           
            th {
                text-align: left;
            }

            th,td {
                width: 10%;
                padding: 4px 0px 0px 4px;
            }
            .name {
                width: 60%;
            }
        }
    }
    .cart-view-summary {
        display: table-row;
        height: 80px;
        &> div {
            border-top: 1px solid $border-color;
            padding: 4px 2px;
            margin-top:4px;
            text-align: right;
            font-size: 1.2em;
            font-weight: bold;
        }

        .cart-view-item-count {
            float: left;
        }
        .cart-view-vat {
            font-size: .8em;
            font-style: italic;
        }
    }
}
#cart-product-search {
    position: relative;
    top: 2%;
    left: 60%;
}
#cart-product-list {
    margin-top: 2%;
    
        &>div {
        
            .cat-list-item {
                width: 304px;
                height: 266px;
                margin: 4px;
                padding: 4px;

                &.sold-out {
                    border: 3px solid red;
                }
    
                img {
                    width: 288px;
                    height: 216px;
                    border: 1px solid $border-color;
                    margin-bottom: 4px;
                }

            .cat-list-name {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }

}

#cart-product-view {

    .header {
        .name {
            font-size: 2em;
        }

        .description {
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .record-field {
            clear: both;
        }
        .record-field .label {
            width: 150px;
            float: left;
        }
    }

    .image {
        position: absolute;
        top: 20px;
        right: 20px;

        img {
            width: 288px;
            height: 216px;
            border: 1px solid $border-color;
        }
    }

    .form {
        position: absolute;
        bottom: 15px;
        left:8px;
        width: 400px;

        .form-field label.form-label {
            width: 200px;
        }
    }

    .total {
        position: absolute;
        bottom: 20px;
        right: 320px;
        width: 200px;

        .price {
            font-size: 2em;
        }
    }
}


#cart-checkout {
    font-size: 1.4em;

    &>div {
        margin: 80px 0 0 40px;
    }
    label {
        display: block;
        float: left;
        width: 200px;
        clear: both;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 14px;
    }

    .form-field .formfield .formfield-input {
        height: 34px;
    }
    .cashback {
        display: block;
        float: left;
        width: 15%;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 14px;
        text-align: right;

        .cashback {
            border: 2px solid $border-color;
            font-weight: bold;
            padding: 3px;
            width: 112px;
            position: relative;
            text-align: right;

            &::after {
                content: '€';
                position: absolute;
                top: 8px;
                left: 125px;
                font-weight: normal;
            }
        }
    }
}


#cart-checkout-debit {
    font-size: 1.4em;

    &>div {
        margin: 80px 0 0 40px;
    }
    label {
        display: block;
        float: left;
        width: 200px;
        clear: both;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 14px;
    }

    .form-field .formfield .formfield-input {
        height: 34px;
    }

    .value {
        display: block;
        float: left;
        width: 200px;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 14px;

        .cash {
            border: 2px solid $border-color;
            font-weight: bold;
            padding: 3px;
            width: 110px;
            position: relative;
            text-align: right;

            &::after {
                content: '€';
                position: absolute;
                top: 8px;
                left: 125px;
                font-weight: normal;
            }
        }

    }

    .check-customer-error {
        clear: both;
        color: red;
    }

}

#cart-cashout, #cart-cashin {

    .constfield-output.customer {
        border-color: transparent;
    }
    .negative-saldo {
        color: red;
    }
}