
$background-color: white !default;
$text-color: #666 !default;
$border-color: green !default;
$focus-border-color: red !default;
$error-color: red !default;

$table-head-color: #ccc !default;
$table-even-color: #fff !default;
$table-odd-color: #ddd !default;
