
#coop_overview {

    table {
        margin-left: 20px;
    }
    span.currency {
        display: inline-block;
        width: 150px;
        text-align: right;
    }
    span.currency.red {
        color: red;
    }
}

#coop_memberview {
    .label {
        display: inline-block;
        width: 120px;
    }
    table {
        margin-top: 10px;
    }
}

#coop_deliveries {
    .data-table tr:hover {
        background: #ddd;
    }
}

#coop_delivery_edit {
    .data-table tr:hover {
        background: #ddd;
    }

    .text-with-button {
        .formfield-input {
            width: 84%;
        }
        button {
            float: right;
            width: 14%;
        }
    }
    & > div {
        clear: both;
    }

    .delivery-item:nth-child(odd) {
        background:#ddd;
    }

    .delivery-item-line-1 > span {
        display: block;
        float: right;
        margin-right: 10px;
    }
    .delivery-item-line-1 {
        margin-right: 10px;
        font-size: 1.2em;
    }
}