

.form-field {
    position: relative;

    label.form-label {
        display: block;
        float: left;
        width: 15%;
        clear: both;
        white-space:nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 14px;
    }

    &.error-message {
        display:none;
        .formfield .formfield-error {
            display: block;
        }
    }
    

    .formfield, .constfield {
        display:block;
        width: 85%;
        padding-top: 6px;
        position: relative;
        float: left;

        &.formfield-number {
            width: 120px;
        }

        &.formfield-currency::after {
            width: 120px;
            content: '€';
            position: absolute;
            top: 15px;
            left: 125px;
        }

        &.formfield-percent::after {
            width: 120px;
            content: '%';
            position: absolute;
            top: 15px;
            left: 125px;
        }

        .formfield-input, .constfield-output {
            height: 32px;
            border: 1px solid $border-color;
            padding: 4px;
            background: #fff;
        }

        &.formfield-search {
            width: 78%;
            margin-right: 2%;
            margin-top: 12px;
        }
        .formfield-error {
            display:none;
            color: red;
            margin-top: 4px;
            text-align: right;
            font-size: 0.8em;
            font-weight: bold;
            font-style: italic;
        }

        &.validation-error .formfield-error.error-required {
            display: block;
        }

        &.focused .formfield-input {
            border: 2px solid $focus-border-color;
            padding: 3px;
        }

        & .text {
            display: inline-block;
        }

        &.formfield-number .text {
            width: 100%;
            text-align: right;
        }

        &.formfield-number.typing .text {
            width: auto;
            text-align: left;
        }

        &.selected .text {
            color: $background-color;
            background: $text-color;
        }

        &.typing .text::after {
            content: "\00a0\00a0";
            color: $background-color;
            background: $text-color;
            animation: blinking 1s step-end infinite;
            position: relative;
            top: -1px;
            padding-top: 2px;
        }

        @keyframes blinking {
            from, to { opacity: 1; }
            50% { opacity: 0; }
        }

        .formfield-select-value-list {
            display: none;
            position: absolute;
            width: 500px;
            border: 1px solid black;
            top: 42px;
            left: 1px;
            padding: 6px;
            max-height: 180px;
            overflow: auto;
            background: white;
            z-index: 10;
        }

        &.focused .formfield-select-value-list {
            display: block;
        }

        .formfield-select-value-list-item {
            padding-left: 4px; padding-top:2px;
        }

        .formfield-select-value-list-item[selected],
        .formfield-select-value-list-item:hover {
            color: white;
            background: black;
        }

    }

}