

.form {

    .form-field {
        margin-bottom: 12px;
        height: 30px;
        position: relative;
        width: 100%;

        &.field-text {
            height: 100px;
        }

        .form-label {
            display: inline-block;
            width: 15%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            label {
                position: absolute;
                top: 0;
                width: 15%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .form-input {
            display: inline-block;
            box-sizing: border-box;
            width: 45%;
            border: 1px solid transparent;

            .input  {
                height: 100%;
                width: 100%;
                max-width: 100%;
                border: 1px solid black;
                border-radius: 5px;
                padding: 2px 4px;
                line-height: 22px;
                position: relative;

                .input-line {
                    overflow: hidden;
                    font-family: fixed;
                    span::before {
                        content: "\00a0";
                        display: inline-block;
                        width: 2px;
                        overflow: hidden;
                    } 
                }
                &.input-string {
                    white-space: nowrap;
                    overflow: hidden;
                }

                &.input-text {
                    overflow: hidden;
                }

                &.input-select {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    span::before {
                        content: "\00a0";
                        display: inline-block;
                        width: 2px;
                        overflow: hidden;
                    } 
                    .select-values {
                        display: none;
                        overflow-x: hidden;
                        overfloe-y: auto;
                        max-height: 120px;

                        .select-value {
                            padding: 1px;
                            margin: 1px;
                            
                            &:hover {
                                background: grey;
                                color: white;
                            }
                            &.selected {
                                background: black;
                                color: white;
                            }
                        }
                    }
                }

                &.input-checkbox {
                    border: 0;
                    .checkbox-ctrl {
                        border: 1px solid black;
                        display: inline-block;
                        vertical-align: bottom;
                        margin-right: 4px;
                        border-radius: 5px;
                        height: 20px;
                        width: 20px;

                        .checkbox-hook.checked::after {
                            content:'✓';
                        }
                    }
                }
            }     

            .input.focus {
                box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);

                .input-line {
                    span.selected {
                        background: black;
                        color: white;;
                    }
                    span.cursor::before {
                        content: "\00a0";
                        display: inline-block;
                        background: black;
                        width: 2px;
                        overflow: hidden;
                        position: relative;
                        top: 2px;
                        animation: blinking 1s step-end infinite;
                    } 
                    span.selected + span.cursor::before {
                        background: transparent;
                    }

                    @keyframes blinking {
                        from, to { opacity: 1; }
                        50% { opacity: 0; }
                    }
                }
        
                &.input-select {
                    height: auto;

                    .select-values {
                        display: block;
                        border-top: 1px solid black;
                        background: white;
                        z-index: 10;
                        position: relative;
                        margin-top: 4px;
                    }
                }

                &.input-checkbox {
                    box-shadow: none;

                    .checkbox-ctrl {
                        box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.75);
                    }
                }
            }
        }
    }

    .form-field.field-select, .form-field.field-autocomplete {
        .field-input {

        }
        .input::after {
            content: '▼';
            position: absolute;
            top: 10px; right:2px;
        }

    }
}