#image-editor {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;

    form {
        width: 100%; height: 100%; padding:0; margin:0;
    }
    &.hidden {
        display:none;
    }

    .image {
        height: 100%;
        display: table-cell;
        #image {
            max-height: 100%;
        }
        .cropper-bg {
            width: 100% !important;
            height: 100% !important;
        }
    }
    .buttons {
        height: 100%;
        width: 180px;
        display: table-cell;
        vertical-align: top;

        #file-input {
            position: absolute;
            width: 1px;
            height: 1px;
            opacity: 0;
            border:0;
            padding: 0;
            margin: 0;
            clip: rect(0,0,0,0);
        }

        .buttons-outer {
            height: 100%;
            display: table;
            width: 180px;
            padding-left: 6px;

            button {
                margin: 2px;
            }
            .upper {
                display: table-row;
                height: 50%;
                vertical-align: top;
            }

            .lower {
                display: table-cell;
                height: 50%;
                vertical-align: bottom;
            }
        }
    }
}


#photo-camera {
    width: 100%;
    height: 100%;
    display: table;
    overflow: hidden;

    &.hidden {
        display:none;
    }

    .video {
        height: 90%;
        overflow: hidden;
        display: table-cell;
        #video {
            width: 100%;
            height: 100%;
        }
        #image-canvas {
            display:none;
            width: 768px;
            height: 576px;
        }
    }
    .buttons {
        height: 100%;
        width: 180px;
        display: table-cell;
        vertical-align: top;

        .buttons-outer {
            width: 180px;
            height: 100%;
            display: table;
            padding-left: 6px;

            button {
                margin: 2px;
            }
            .upper {
                display: table-row;
                height: 50%;
                vertical-align: top;
            }

            .lower {
                display: table-cell;
                height: 50%;
                vertical-align: bottom;

                .spacer {
                    display: inline-block;
                    width: 80px;
                    height: 72px;
                }
            }
        }
    }
}