
.json-object {

    clear: both;
    .json-member {
        margin-left: 12px;
        &>.member-name-open {
            display: block;
        }
        &>.member-name-closed {
            display: none;
        }
        &>.member-name>.member-name-open {
            display: inline;
        }
        &>.member-name>.member-name-closed {
            display: none;
        }

        &.open>.member-name-open {
            display: none;
        }
        &.open>.member-name-closed {
            display: block;
        }
        &.open>.member-name>.member-name-open {
            display: none;
        }
        &.open>.member-name>.member-name-closed {
            display: inline;
        }

        &>.json-member {
            display:none;
        }
        &.open>.json-member {
            display:block;
        }

    }

    &>.json-member {
        margin-left:0;
        &>.member-name .name {
            display: none;
        }
    }

    .name {
        color: red;
    }
    .string {
        color: green;
    } 

}