@import 'colors';

#keypad-wrapper {

    display: none;
    position: absolute;
    right: 22px;
    bottom: 22px;
    width: 312px;
    button {
        width: 78px; height: 78px;
        font-size: 36px;
        font-weight: bold;
        overflow: hidden;
        display: block;
        float: left;
        text-align: center;

        &.keypad-button-11 {
            float: right;
            height: 156px;
        }
        &.keypad-button-13 {
            width: 156px;
        }
        span {
            display: block;
        }
    }
}

#keyboard-wrapper {
    display: none;
    padding-left: 1%;
    button {
        width: 8.7%;
        text-align: center;
        margin: 0.1%;
        height: 40px;
        span {
            font-weight: bold;
            font-size: 1.4em;
        }
    }
    button.space-key {
        width: 44.3%;
    }

    & span.shift,
    & span.symbol {
        display: none;
    }
    &.shift span.shift {
        display: block;
    }
    &.shift span.normal,
    &.shift span.symbol {
        display: none;
    }
    &.symbol span.symbol {
        display: block;
    }
    &.symbol span.normal,
    &.symbol span.shift {
        display: none;
    }

}

