.formfield-input {
    height: 200px !important; 
    white-space: pre;
    overflow: hidden;

    span {
        display: block;
        float: left;
    }

    span.br {
        clear:both;
        height: 32px;
        width: 2px;
    }

    .formfield-input  span.nl {
        height: 32px;
        width: 2px;
    }

    span.cursor::before {
        display: block;
        float: left;
        content: " ";
        width: 2px;
        background: black;
        height: 28px;
        position: relative;
    }
}

#message-form {

    .header {
        font-size: 1.4em;
        font-weight: bold;
    }

    .footer {
        text-align: right;
    }
}

