
@import 'colors';

@import 'forms';

@import 'datatable';

html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    user-select: none;
    font-family: 'handleeregular';
}

table {
    font-size: 1.2em;
}

h1 {
    margin:0;
    font-size:1.7em;
    font-family: 'handleeregular';
    font-weight: bold;
}

button {
    font-family: 'handleeregular';
    font-weight: bold;
}

form {
    margin: 0;
}
@font-face {
    font-family: 'handleeregular';
    src: url('img/handlee-regular-webfont.woff2') format('woff2'),
         url('img/handlee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'emma_sophiaregular';
    src: url('img/emma_sophia-webfont.woff2') format('woff2'),
         url('img/emma_sophia-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#pos-outer {
    display: table;
    height: 100%;
    width: 100%;

    #pos-title {
        display: table-row;
        height: 1%;

        & > div {
            xborder: 1px solid $border-color;
            height: 100%;
            padding: 0.5em;
            background: #ddd;
            background: linear-gradient(to right, rgb(203,195,255) 15%,rgb(203,195,255) 57%,rgb(248,247,255) 100%);
        }

        span.flag {
            float: right;
        }

        #menu-wrapper {
            float: right;
            height: 32px;
            width: 32px;
            position: relative;
            margin-left: 4px;
            z-index: 1000;
            font-size: 1.5em;
    
            span.menu-button {
                display: block;
                height: 32px;
                width: 32px;
                background:url(img/menubutton.png);
            }

            #menu-container {
                position: absolute;
                right: -8;
                top: 44px;
                background: white;
                display: none;
                border: 1px solid $border-color;

                .menu-seperator {
                    height: 1px;
                    border-top: 1px solid $border-color;
                }
                .menu-item {
                    padding: 4px;
                }
                .menu-text {
                    white-space: nowrap;
                }

                .menu-item[disabled] {
                    opacity: 0.3;
                }
            }

        }
    }
    #pos-content {
        display: table-row;
        height: 100%;
        border: 1px solid $border-color;

        .pos-content-inner {
            position: relative;
            border: 1px solid $border-color;
            padding: 0.5em;
            height: 100%;
            overflow: auto;
            box-sizing: border-box;
        }
    }
    #pos-buttons {
        display: table-row;
        height: 1%;
        xborder: 1px solid $border-color;
        background: linear-gradient(to right, rgb(203,195,255) 15%,rgb(203,195,255) 57%,rgb(248,247,255) 100%);

        & > div {
            border: 1px solid $border-color;
            padding: 0.5em;
            height: 100%;
        }

        button {
            font-size:1em;
            text-align: left;
        }

        .button-spacer {
            display: inline-block;
        }

        .icon {
            margin-right: 6px;
        }

        .searchfield {
            display: none;
        }
    }

}

button {
    text-align:center;
    padding: 4px;
    font-size: 0.9em;

    .icon {
        display: inline-block;
        width: 64px;
        height: 64px;
        vertical-align: middle;
        background:url("img/button-icons.png");
    }

    .icon.person {
        background-position: -64px 0px;
    }
    .icon.back {
        background-position: -128px 0px;
    }
    .icon.moneybag {
        background-position: -192px 0px;
    }
    .icon.invoice {
        background-position: -256px 0px;
    }
    .icon.delivery {
        background-position: -320px 0px;
    }
    .icon.order {
        background-position: -384px 0px;
    }
    .icon.basket {
        background-position: -0px -64px;
    }
    .icon.trash {
        background-position: -64px -64px;
    }
    .icon.percent {
        background-position: -128px -64px;
    }
    .icon.moneypig {
        background-position: -192px -64px;
    }
    .icon.cashout {
        background-position: -256px -64px;
    }
    .icon.cashin {
        background-position: -320px -64px;
    }
    .icon.continue {
        background-position: -384px -64px;
    }
    .icon.cart {
        background-position: 0px -128px;
    }
    .icon.coop {
        background-position: -64px -128px;
    }
    .icon.message {
        background-position: -128px -128px;
    }
    .icon.camera {
        background-position: -192px -128px;
    }
    .icon.zoom-in {
        background-position: -0px -192px;
    }
    .icon.zoom-out {
        background-position: -64px -192px;
    }
    .icon.search {
        background-position: -384px -192px;
    }
    .icon.rotate-left {
        background-position: -128px -192px;
    }
    .icon.rotate-right {
        background-position: -192px -192px;
    }
    .icon.flip-horizontal {
        background-position: -256px -192px;
    }
    .icon.flip-vertical {
        background-position: -320px -192px;
    }
    .icon.admin {
        background-position: -0px -256px;
    }
    .icon.save {
        background-position: -64px -256px;
    }
    .icon.import {
        background-position: -128px -256px;
    }
    .icon.customer {
        background-position: -192px -256px;
    }
    .icon.newcustomer {
        background-position: -256px -256px;
    }
    .icon.editcustomer {
        background-position: -320px -256px;
    }
}
button[disabled] .icon {
    opacity: 0.4;
}

@media (max-width: 641px) {

    body {
        zoom: 0.5;
    }
}
