
@import 'colors';

#sql-tables {

    .list {
        columns: 3;

        h3 {
            column-span: all;
        }
    }
}

.grid-view {

    width: 100%;
    height: 98%;
    position: absolute;
    top:0; left: 0;
    
    .slick-row.active {
        background: #ddd;
    }

    .loading-indicator {
        background-color: $background-color;
        background: url(img/ajax-loader-small.gif);
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 8px 8px;

        width: 40px;
        height: 40px;
        border-radius: 4px;
        position: absolute;
        border: 1px solid $border-color;
        box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
    }


    .number {
        display: block;
        width: 100%;
        text-align: right;

        &.negative {
            color: red;
        }
    }
    .currency {
        display: block;
        width: 100%;
        text-align: right;

        sup {
            vertical-align: top;
        }
        &.negative {
            color: red;
        }
    }
    .percent {
        display: block;
        width: 100%;
        text-align: right;

        sup {
            vertical-align: top;
        }
        &.negative {
            color: red;
        }
    }
    .image {
        display: block;
        width: 100%;
        text-align: center;
        img {
            height: 20px;
            width: auto;
        }
    }
    .id {
        display: block;
        width: 100%;
        text-align: center;
        font-size: x-small;
        padding-top: 1px;
        img {
            height: 20px;
            width: auto;
        }
    }

    input.text-input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
    }
}
