

mixin form_field_label(form, field)
    label.form-label(for=field.name)= (field.caption || field.name || '<unnamed field>') + ':'

mixin form_field_empty_label(form, field)
    label.form-label(for=field.name)= ''

mixin form_field_checkbox_label(form, field)
    label.form-checkbox-label(for=field.name)= field.caption || field.name || '<unnamed field>'

mixin form_hidden_field(form, field)
    input.formfield(name=field.name, type='hidden', value=form.values[field.name]||field['default']||'')

if 1 || use_onscreen_keyboard

    mixin form_text_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-text(name=field.name, length=maxlength, type='text', value=value, required=field.required)
            .formfield-input
                span.keyboard-text.text= value
            if field.required
                .formfield-error.error-required
                        span This field is required

    mixin form_text_field_button(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-text(name=field.name, length=maxlength, type='text', value=value, required=field.required)
            button= "search"
            .formfield-input
                span.keyboard-text.text= value
            if field.required
                .formfield-error.error-required
                        span This field is required

    mixin form_search_field()
        .formfield.formfield-text.formfield-search(name='search', length=maxlength, type='text', value='', required=false)
            .formfield-input
                span.keyboard-text.text= ''

    mixin form_number_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number(name=field.name, length=maxlength, type='number', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= value
            .formfield-error.error-required
                    span This field is required

    mixin form_currency_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number.formfield-currency(name=field.name, length=maxlength, type='currency', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_currency(value)
            .formfield-error.error-required
                    span This field is required

    mixin form_percent_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number.formfield-percent(name=field.name, length=maxlength, type='percent', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_percent(value)
            .formfield-error.error-required
                    span This field is required

    mixin form_pin_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number.formfield-pin(name=field.name, length=6, type='pin', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_percent(value)
            .formfield-error.error-required
                    span This field is required

    mixin form_keypad_number_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number(name=field.name, length=maxlength, type='keypad-number', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= value
            .formfield-error.error-required
                    span This field is required

    mixin form_keypad_currency_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number.formfield-currency(name=field.name, length=maxlength, type='keypad-currency', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_currency(value)
            .formfield-error.error-required
                    span This field is required

    mixin form_keypad_percent_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number.formfield-percent(name=field.name, length=maxlength, type='keypad-percent', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_percent(value)
            .formfield-error.error-required
                    span This field is required

    mixin form_keypad_pin_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-number(name=field.name, length=6, type='keypad-pin', value=value, required=field.required)
            .formfield-input
                span.keypad-text.text= format_percent(value)
            .formfield-error.error-required
                    span This field is required
            .formfield-error
                    span Unknown Pin.

    mixin form_select_field(form, field)
        - var value=form.values[field.name]||field['default']||''
        .formfield.formfield-select(name=field.name, value=value, type='select')
            .formfield-input
                span.select-text.text
                    +form_select_value(field.values, value)
                span.arrow
                .formfield-select-value-list
                    +form_select_values('', field.values, value)
            .formfield-error.error-required
                    span This field is required

    mixin form_select_value(values, value)
        each val in values
            if val.value == value
               = val.caption
            else 
                if val.items
                    +form_select_value(val.items, value)
    
    mixin form_select_values(prefix, values, value)
        each val in values
            .formfield-select-value-list-item(value=val.value, selected = (val.value==value))
                span= prefix + (val.caption)
            if val.items
                +form_select_values(prefix+'\u00a0\u00a0', val.items, value)

    mixin form_textarea_field(form, field)
        - var value = (form.values[field.name]||field['default']||'').trim()
        .formfield.formfield-text(name=field.name, length=maxlength, type='text', value=value, required=field.required)
            .formfield-input
                - var n=0
                while n<value.length
                    - var ch=value.substr(n,1)
                        span= ch
            .formfield-error.error-required
                    span This field is required

    mixin form_message_field(form, field)
        .formfield.formfield-error(name=field.name)
            .formfield-error.error-required
                    span=field.text

    mixin form_button(form, field)
        .formfield.formfield-button(name=field.name)
            button= field.caption

else

    mixin form_text_field(form, field)
        input(name=field.name, type='text', value=form.values[field.name]||field['default']||'')

    mixin form_password_field(form, field)
        input(name=field.name, value=form.values[field.name]||field['default']||'')

    mixin form_number_field(form, field)
        input(name=field.name, value=form.values[field.name]||field['default']||'')

    mixin form_select_field(form, field)
        select(name=field.name)
            +form_select_options('', field.values, form.values[field.name]||field['default']||'')

    mixin form_datalist_field(form, field)
        datalist(name=field.name)
            +form_select_options('', field.values, form.values[field.name]||field['default']||'')

    mixin form_select_options(prefix, values, value)
        each val in values
            option(value=val.id)= prefix+val.title||val.id


mixin render_form_field(form, field)
    if field.type.toLowerCase()=='const'
        +form_hidden_field(form, field)
    else
        if field.type.toLowerCase()=='button'
            +form_button(form, field)
        else
            div.form-field(id=form.id + '-' + field.name + '-field', class=field.type)
                case field.type.toLowerCase()
                    when 'const'

                    when 'keypad-number'
                        +form_field_label(form, field)
                        +form_keypad_number_field(form, field)

                    when 'keypad-currency'
                        +form_field_label(form, field)
                        +form_keypad_currency_field(form, field)

                    when 'keypad-percent'
                        +form_field_label(form, field)
                        +form_keypad_percent_field(form, field)

                    when 'keypad-pin'
                        +form_field_label(form, field)
                        +form_keypad_pin_field(form, field)

                    when 'text'
                        +form_field_label(form, field)
                        +form_text_field(form, field)

                    when 'text-with-button'
                        +form_field_label(form, field)
                        +form_text_field_button(form, field)

                    when 'password'
                        +form_field_label(form, field)
                        +form_password_field(form, field)

                    when 'number'
                        +form_field_label(form, field)
                        +form_number_field(form, field)

                    when 'currency'
                        +form_field_label(form, field)
                        +form_currency_field(form, field)

                    when 'percent'
                        +form_field_label(form, field)
                        +form_percent_field(form, field)

                    when 'pin'
                        +form_field_label(form, field)
                        +form_pin_field(form, field)

                    when 'select'
                        +form_field_label(form, field)
                        +form_select_field(form, field)

                    when 'datalist'
                        +form_field_label(form, field)
                        +form_datalist_field(form, field)

                    when 'checkbox'
                        +form_field_empty_label(form, field)
                        +form_checkbox_field(form, field)
                        +form_field_checkbox_label(form, field)

                    when 'textarea'
                        +form_field_label(form, field)
                        +form_textarea_field(form, field)

                    when 'error-message'
                        +form_field_empty_label(form, field)
                        +form_message_field(form, field)

                    default
                        +form_field_empty_label(form, field)
                        div INVALID FORM FIELD TYPE #{field.type}


mixin render_form(form)
    form.form(action=form.action||'')
        each field in form.fields
            +render_form_field(form, field)

