

mixin show-json-member(name, json)
    if typeof json=='object' && json!==null
        .json-member
            if Array.isArray(json)
                div.member-name
                    span.name= name+':\u00a0'
                    span= '['
                    span.member-name-open= '...]'
                for o,n in json
                    +show-json-member(n, o)
                div.member-name-closed= ']'
            else
                div.member-name
                    span.name= name+':\u00a0'
                    span= '{'
                    span.member-name-open= '...}'
                for o,n in json
                    +show-json-member(n, o)
                div.member-name-closed= '}'
            
    else
        if json==null
            .json-member
                div
                    span.name= name+':\u00a0'
                    span.null= 'null'
        else
            if json==undefined
                .json-member
                    div
                        span.name= name+':\u00a0'
                        span.undefined= 'undefined'
            else
                if typeof json == 'string'
                    .json-member
                        div
                            span.name= name+':\u00a0'
                            span.string= '"' + json + '"'
                else
                    .json-member
                        div
                            span.name= name+':\u00a0'
                            span= json

mixin show-json(json)
    .json-object
        +show-json-member('',json)
