
block append styles
    +style('keypad.css')

block append scripts
    if !(form && (form.id=='create-message' || form.id=='form_test') )
        +script('keypad.js')

mixin keypad()
    #keypad-wrapper
        each key, index in ['7','8','9','⇐','4','5','6','-','1','2','3','↲',',','0']
            button.keypad-button(x-key=key, class='keypad-button-'+index)
                span(class='keypad-button-'+index)= key
    script  init_keypad();

mixin keyboard-button(key)
    case key
        when 'space'
            button.char-button.space-key
                span!= '\u00a0'
        when 'enter'
            button.char-button.enter-key
                span!= '↲'
        when 'shift'
            button.char-button.shift-key
                span!= '⇑'
        when 'symbol'
            button.char-button.symbol-key
                span!= '123'
        when 'backspace'
            button.char-button.backspace-key
                span!= '⇐'
        when 'left'
            button.char-button.left-key
                span!= '⭠'
        when 'right'
            button.char-button.right-key
                span!= '⭢'
        when 'up'
            button.char-button.up-key
                span!= '⭡'
        when 'down'
            button.char-button.down-key
                span!= '⭣'
        default
            button.char-button
                span.normal= key.substr(0,1) || '\u00a0'
                span.shift= key.substr(1,1) || '\u00a0'
                span.symbol= key.substr(2,1) || '\u00a0'

mixin keyboard()
    #keyboard-wrapper
        if lang=='de'
            .keyboard-de
                
                .row-1
                    each key in [ '1!!', '2""', '3§§', '4$$', '5\%\%', '6&?', '7/+', '8(7', '9)8', '0=9', 'backspace' ]
                        +keyboard-button(key)
                .row-2
                    each key in [ 'qQ@', 'wW^', 'eE€', 'rR+', 'tT~', 'zZ#', 'uU-', 'iI4', 'oO5', 'pP6', 'üÜ'  ]
                        +keyboard-button(key)
                .row-3
                    each key in [ 'aA', 'sS', 'dD', 'fF', 'gG{', 'hH}', 'jJ*', 'kK1', 'lL2', 'öÖ3', 'enter' ]
                        +keyboard-button(key)
                .row-4
                    each key in [ '<>', 'yY', 'xX', 'cC', 'vV', 'bB', 'nN/', 'mM,', 'äÄ0,', ',;-', '.:' ]
                        +keyboard-button(key)
                .row5
                    each key in [ 'shift', 'symbol', 'space', 'left', 'up', 'down', 'right' ]
                        +keyboard-button(key)
        else
            .keyboard-en
                .row-1
                    each key in [ '1!', '2@', '3#', '4$', '5%', '6^', '7&', '8*', '9(', '0)', '-_', '=+' ]
                        +keyboard-button(key)
                .row-2
                    each key in [ 'qQ', 'wW', 'eE', 'rR', 'tT', 'yY', 'uU', 'iI', 'oO', 'pP', '[{', ']}' ]
                        +keyboard-button(key)
                .row-3
                    each key in [ 'aA', 'sS', 'dD', 'fF', 'gG', 'hH', 'jJ', 'kK', 'lL', ';:', '\'"', 'enter' ]
                        +keyboard-button(key)
                .row-4
                    each key in [ 'zZ', 'xX', 'cC', 'vV', 'bB', 'nN', 'mM', ',<', '.>', '/?' ]
                        +keyboard-button(key)
                .row5
                    each key in [ 'shift', 'space', 'backspace' ]
                        +keyboard-button(key)


