mixin style(path)
    link(rel="stylesheet", href="/css/"+path)

mixin theme(path)
    link(rel="stylesheet", href="/css/"+path)

mixin script(src)
    script(type="text/javascript", src="/js/"+src)

- 
    function format_date(dt) {
        if (lang == 'de')   
            return (new Date(dt)).toLocaleString('de-DE');
        return (new Date(dt)).toLocaleString();
    }   

    function format_price(p) {
        return Number(p).toFixed(2).replace(/[.]/g,',')+' <sup>\u20AC</sup>'
    }

    function format_currency(p) {
        if (p=='' || p==undefined) return '';
        var v=Number(p).toFixed(2);
        if (lang == 'de') v=v.replace(/[.]/g,',')
        return v;
    }

    function format_percent(p) {
        if (p=='' || p==undefined) return '';
        var v=Number(p).toFixed(1);
        if (lang == 'de') v=v.replace(/[.]/g,',')
        return v;
    }