//- ines: 0163 666 0988

include macros.pug

block append scripts
    script!= 'vars='+vars+';'
    script!= 'var lang="' + lang + '";'
    +script("ninja-patch.js")
    +script("jquery-3.3.1.min.js")
    +script("js.cookie.min.js")
    +script("resize-sensor.js")

include image-editor
include keypad
include tables
include forms
include table
include json

    
html
    head
        link(rel="manifest", href="/manifest.json")
        link(rel="shortcut icon", href="/img/favicon.ico")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        block styles
            +style("style.css")
            +style("flags.css")
            +style("json.css")

        block scripts
            +script("script.js")
            +script("json.js")
    body
        #pos-outer
            #pos-title
                div
                    #menu-wrapper
                        span.menu-button
                        #menu-container
                            if theme=='dark' 
                                .menu-item(x-action='use-dark-theme')
                                    span.menu-icon
                                    span.menu-text Use light Theme
                            else
                                .menu-item(x-action='use-light-theme')
                                    span.menu-icon
                                    span.menu-text Use dark Theme
                            .menu-seperator
                            if menu && menu.length>0
                                each item in menu
                                    .menu-item(x-action=item.action,disabled=item.disabled)
                                        span.menu-icon
                                        span.menu-text= item.title
                                .menu-seperator
                            if customer.id != 'anonymous'
                                .menu-item(x-action='/admin/logout')
                                    span.menu-icon
                                    span.menu-text Logout
                            else
                                .menu-item(x-action='/admin/login', disabled=is_login_page)
                                    span.menu-icon
                                    span.menu-text Login as Admin

                    if lang=='de'
                        span.flag.flag-de
                    else
                        span.flag.flag-gb
                    h1
                        = title || 'emmaPOS'
                        if subtitle
                            . 
                                \u00a0 - \u00a0
                            small
                                = subtitle
            #pos-content
                div.pos-content-inner
                    block content
                    +keypad()

            #onscreen-keyboard
                +keyboard()
            #pos-buttons
                .buttons
                    if buttons
                        - var width=100/buttons.length;
                        each button, index in buttons
                            if button.title
                                button(x-action=button.action,
                                       style='width:'+width+'%',
                                       alt=button.description,
                                       disabled=(button.disabled))
                                    span.icon(class=button.icon)
                                    span.title= button.title
                            else
                                .button-spacer(style='width:'+width+'%')
                .searchfield.form.form-field(style='diplay:none')
                    +form_search_field()
                    button(x-action='post-search',
                            style='width:20%',
                            alt=t('Search'),
                            disabled=false)
                        span.icon(class='search')
                        span.title= 'Search'

