
block append style
    +style('jquery-ui.min.css')
    +style("slick.grid.css")
    +style("table.css")
    
block append script
    +script("jquery.event.drag-2.3.0.js")
    +script('jquery.ui.sortable.js')
    +script("slick.core.js")
    +script("slick.grid.js")
    +script("table.js")
