
mixin data_table_header(columns)
    tr
        each col in columns
            th(width=col.width) 
                = col.caption

mixin data_table_row(columns, row, cls, link)
    tr(class=cls,id=row.id)
        each col in columns
            case col.name
                default
                    td(width=col.width)
                        = row[col.name]
                when 'date'
                    td(width=col.width)
                        = t.format_date(row[col.name])
                when 'id'
                    td(width=col.width)
                        if link
                            a(href=link+'/'+row[col.name])
                                = row[col.name]
                        else
                                = row[col.name]
                when 'amount'
                    if row[col.name]<0
                        td.debit(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;
                    else
                        td(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;
                when 'total'
                    if row[col.name]<0
                        td.debit(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;
                    else
                        td(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;
                when 'balance'
                    if row[col.name]<0
                        td.debit(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;
                    else
                        td(width=col.width, align='right')
                            = t.format_currency(row[col.name])
                            |&euro;

mixin data_table_pager(pager)
    div.pager
        span.prev-pager
            if pager.skip>0
                a(href='?skip='+(Number(pager.skip)-Number(pager.limit))+'&limit='+pager.limit) 
                    ="<<"
                = '  '
        
        span.label-pager
            =Number(pager.skip)+1
            = "-"
            =Number(pager.skip)+Number(pager.length)
            = ' '+t('of')+' '
            =pager.count
            = '  '

            span.next-pager
                if Number(pager.skip)+Number(pager.limit) < Number(pager.count)
                    a(href='?skip='+(Number(pager.skip)+Number(pager.limit))+'&limit='+pager.limit) 
                        = ">>"

mixin data_table(table)
    table.data-table(width='100%')
        thead
            +data_table_header(table.columns)
        tbody
            if table.values.length>0
                each row,index in table.values
                    - var cls=(index%2) ? 'even':'odd';
                    +data_table_row(table.columns, row, cls, table.link)
            else
                tr
                    td(colspan=table.columns.length)
                        =table.noresult
    if table.pager
        if table.values.length>0
            +data_table_pager(table.pager)
