
extends inc/page.pug

block append styles
    +style('admin.css')

block append scripts 
    +script('admin.js')
    script.
        adminlogin_init();

block content
    #admin-login
        .header
            span Enter your PIN-Code:
        +render_form(form)
        .error
            .span Unknown Pin.
