
extends inc/page.pug

block append styles
    +style('admin.css')

block append scripts 
    +script('admin.js')
    script.

block content
    #cart-overview
        h1
            span Welcome 
            span= customer.name
            span !
        h2 
            span There is
            span= ' ' + format_currency(cash_amount) + '€ ' 
            span in the Desk.
        .message 
        if message
            h3 You have a Message:
            span= message
