
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartcheckout_init();

block content
    #cart-checkout
        div
            .header
                label Amount to pay:
                .cashback
                    span.cashback= format_currency(cart.total)
            .form
                +render_form(form)
            .footer
                label Cashback:
                .cashback
                    span.cashback!= format_currency(0.0)+'\u00a0'




