extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartview_init();

block content
    #cart-view
        .cart-view-item-list
            unless items.length==0
                table
                    tr.cart-view-header
                        th.name Name
                        th.amount Amount
                        th.price Price
                        th.vat VAT
                        th.total Total

                    each item in items
                        tr.cart-view-item(x-action='/cart/'+cart.id+'/item/'+item.id)
                            td.name
                                = item.name
                            td.amount
                                = item.amount
                            td.price
                                = format_currency(item.price)
                                sup €
                            td.vat
                                = format_percent(item.vat)
                                sup %
                            td.total
                                = format_currency(item.price*item.amount)
                                sup €

            else
                .cart-view-no-items The Cart is empty.
        .cart-view-summary
            div
                .cart-view-item-count
                    case cart.item_count
                        when 0
                            span= 'no'
                            span &nbsp;
                            span Product
                        when 1
                            span= cart.item_count
                            span &nbsp;
                            span Product
                        default
                            span= cart.item_count
                            span &nbsp;
                            span Products
                .cart-view-total
                    span Total
                    span \u00a0
                    span!= format_price(cart.total)
                .cart-view-vat
                    span incl.
                    span \u00a0
                    span!= format_price(cart.vat_total)
                    span \u00a0
                    span VAT


