
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartannotate_init();

block content
    #cart-cashout
        div
            .header 
                h3  Please enter Comment
            .form
                +render_form(form)


