
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartcashout_init();

block content
    #cart-cashout
        div
            .header 
                h3.cashout-pin Please enter Pin
                h3.cashout-header Please enter amount
            .form
                +render_form(form)
            .footer.form-field
                label.form-label Member:
                .constfield
                    .constfield-output.customer
                        .text.customer= 'any'
            .footer.form-field
                label.form-label Actual Saldo:
                .constfield.formfield-number.formfield-currency
                    .constfield-output
                        .text.current-saldo= '0,00'
            .footer.form-field
                label.form-label New Saldo:
                .constfield.formfield-number.formfield-currency
                    .constfield-output
                        .text.new-saldo= '0,00'



