extends inc/page.pug

block append styles
    +style('cropper.min.css')
    +style('image-editor.css')

block append scripts
    +script('cropper.min.js')
    +script('jquery-cropper.min.js')
    +script('image-editor.js')
    +script('cart.js')
    script.
        image_edit_init();
        cartcatimage_init();

block content
    form(action=action)
       #image-editor
            input.formfield(type='hidden', name='id', value=id)
            div.image
                img.formfield#image(src=image, name='image')
            .buttons
                .buttons-outer
                    input#file-input(type='file',accept='image/*')
                    .upper
                        button(x-action='zoom-in', alt='Zoom In')
                            span.icon.zoom-in
                        button(x-action='zoom-out', alt='Zoom Out')
                            span.icon.zoom-out
                        button(x-action='rotate-left', alt='Rotate Left')
                            span.icon.rotate-left
                        button(x-action='rotate-right', alt='Rotate Right')
                            span.icon.rotate-right
                        button(x-action='flip-horizontal', alt='Rotate Left')
                            span.icon.flip-horizontal
                        button(x-action='flip-vertical', alt='Rotate Right')
                            span.icon.flip-vertical
                    .lower
                        button(x-action='import', alt='Open File')
                            span.icon.import
                        button(x-action='camera', alt='Take a Picture')
                            span.icon.camera
    #photo-camera.hidden
        .video
            video#video(autoplay=true)
        .buttons
            .buttons-outer
                .upper
                .lower
                    .spacer
                    button(x-action='photo', alt='Take Picture')
                        span.icon.camera

