
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartproduct_init();

block content
    #cart-product-view
        .header
            .breadcrumb= cat_info.path
            .name= product.name
            .description= product.description
            .record-field
                .label Vendor:
                .value= product.vendor
            .record-field
                .label Distributer:
                .value= product.distributer
            .record-field
                .label Sku:
                .value= product.distributer_sku
            .record-field
                .label Stock:
                .value= product.stock
        .image
            img(src=product.image)
        
        .form
            +render_form(form)
        .total
            .price
                -
                    var price = cart_item.price * cart_item.amount;
                    var vat = price - price / ( 1 + cart_item.vat / 100)
                span.price-total= format_currency(price)
                sup= '€'
            .vat
                span incl.


                span.vat-total= format_currency(vat)
                sup= '€\u00a0' 
                span VAT