
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartcheckout2_init();

block content
    #cart-checkout-debit
        div
            .head.
                Enter Pin:
            .header
                label Amount to pay:
                .value
                    .cash= format_currency(cart.total)
            .form
                +render_form(form)
            .check-customer-error
                span Unknown PIN.
            .check-customer
                .row
                    label Customer:
                    .value.customer 
                    label Balance:
                    .value.balance 
            



