
extends inc/page.pug

block append styles
    +style('admin.css')

block append scripts 
    +script('admin.js')
    script.

block content
    #cart-overview
        h1
            span You are logged out now.
        h3
            span There is
            span= ' ' + format_currency(cash_amount) + '€ ' 
            span in the Desk.
