extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartprodedit_init();


block content
    script!= 'vars=' + vars + ';'

    +render_form(form)

