
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartcategories_init();

block content
    #cart-product-list
        div
            each cat in categories
                button.cat-list-item(x-action='/cart/' + cid + '/products/' + cat.id)
                    div
                        img(src=cat.image || '/img/category-image.png')
                    span.cat-list-name= cat.name
            each product in products
                = products.stock
                if product.stock<=0
                    button.cat-list-item.sold-out(x-action='/cart/' + cid + '/product/' + product.id)
                        div
                            img(src=product.image || '/img/product-image.png')
                        span.cat-list-name= product.name
                else
                    button.cat-list-item(x-action='/cart/' + cid + '/product/' + product.id)
                        div
                            img(src=product.image || '/img/product-image.png')
                        span.cat-list-name= product.name

