
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cartlist_init();

block content
    #cart-list
        unless carts.length == 0
            each cart in carts
                .cart-list-entry(x-action='/cart/'+cart.id)
                    .cart-price!= format_price(cart.total)
                    .cart-items
                        = cart.item_count 
                        .
                            \u00a0
                            Products
                        sup \u00a0
                    .cart-date
                        span= format_date(cart.date)
                    .cart-list-field
                        .remark
                            span= cart.remark ? cart.remark : '\xa0'
                        .creator
                            span created by
                            span= ' ' + cart.clerk
        else
            .cart-empty.
                There are no active carts.



