
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        cashdeskdeposit_init();

block content
    #cart-cashout
        div
            .header 
                h3.cashin-header Please enter amount
            .form
                +render_form(form)



