
extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
        //cashdesk_init();

block content
    #cashdesk_overview


        h3.header
            | Cashdesk Balance:
            | &nbsp;
            = t.format_currency(balance)
            | &euro;
        
        +data_table(table)
