
extends inc/page.pug

block append styles
    +style('coop.css')

block append scripts 
    +script('cart.js')
    script.
        $(delivery_edit_init);


mixin cval(v)
    if v>=0
        span.currency
            =t.format_currency(v)
            | &euro;
    else
        span.currency.red
            =t.format_currency(v)
            | &euro;

block content
    #coop_delivery_edit
        +render_form(delivery_form, delivery)
        div 
            each item in items 
                div.delivery-item.form-field(id=item.id)
                    - let values={ values: {price: item.new_price, amount: item.amount } }
                    - let price_field = { name: 'price', required: false, default: 0}
                    - let amount_field = { name: 'amount', required: false, default: 0}
                    .delivery-item-line-1
                        span.price
                            +form_currency_field(values, price_field)
                        span.price-label price: 
                        span.amount 
                            +form_number_field(values, amount_field)
                        span.amount-label amount:
                        .name= item.name 
                    .delivery-item-line-2
                        span.amount-label old stock:
                        span.amount= item.old_stock||0
                        span.price-label old price: 
                        span.price= Number(item.old_price).toFixed(2)+'€'

