
extends inc/page.pug

block append styles
    +style('coop.css')

block append scripts 
    +script('cart.js')
    script.
        //cashdesk_init();


mixin cval(v)
    if v>=0
        span.currency
            =t.format_currency(v)
            | &euro;
    else
        span.currency.red
            =t.format_currency(v)
            | &euro;

block content
    #coop_memberview
        div.header
            span.label Name:
            span  
                =member.name
        div
            span.label Balance:
            +cval(member.balance)

        #coop_memberlist
            +data_table(table)

