
extends inc/page.pug

block append styles
    +style('coop.css')

block append scripts 
    +script('cart.js')
    script.
        //cashdesk_init();


mixin cval(v)
    if v>=0
        span.currency
            =t.format_currency(v)
            | &euro;
    else
        span.currency.red
            =t.format_currency(v)
            | &euro;

block content
    #coop_overview

        h3
            | Balance Overview
        table
            tr
                td
                    | Desk:
                td
                    +cval(balance.desk)

            tr
                td
                    | Cashdesk:
                td
                    +cval(balance.cashdesk)

            tr
                td
                    | Coop Balance:
                td
                    +cval(balance.coop_saldo)
            tr
                td
                    | Shop Balance:
                td
                    +cval(balance.shop_saldo)

            tr
                td
                    | Stock value:
                td
                    +cval(balance.stock_value)

            tr
                td
                    | Members Balance:
                td
                    +cval(balance.member_saldo)

            tr
                td(colspan=2)
                    | Special Accounts: 
            
            each special in balance.special_accounts 
                tr 
                    td 
                        span= "\xa0\xa0\xa0\xa0"
                        a(href="member/"+special.id)= special.name 
                    td 
                        +cval(special.balance)