extends inc/page.pug

block append styles
    //- +style('cart.css')


block content
    #error-page
        p An internal error occured
        // pre!= error.message
        pre!= error.stack
        +show-json(JSON.parse(vars))

