extends inc/page.pug

block append styles
    +style('cart.css')

block append scripts 
    +script('cart.js')
    script.
       cartcategories_init();
       

block content
    #cart-product-list
        div
            each product in products
                button.cat-list-item(x-action='/cart/' + cid + '/product/' + product.id)
                    div
                        img(src=product.image || '/img/product-image.png')
                    span.cat-list-name= product.name