extends inc/page.pug

block append styles
    +style('form-api.css')

block append scripts
    +script('form-api.js')


mixin form-string-field(form, field)
    .form-input
        .field-input
            .input-string.input(id=form.id+'-'+field.name, type='string', value=field.value)
                .input-line
                    - var n=0; val=form.values[field.name] || field.default || '';
                    while n<val.length
                        - var ch=val.substr(n++,1)
                        if ch=='\n'
                            - n=val.length
                        else
                            span= ch            
                    span.cr= ' '

mixin form-text-field(form, field)
    .form-input
        .field-input
            .input-text.input(id=form.id+'-'+field.name, type='text', value=field.value)
                .input-line
                    while n<val.length
                        - var ch=val.substr(n++,1)
                        if ch=='\n'
                            span.cr
                            span.lf
                        else
                            span= ch            
                    span.cr= ' '

mixin form-select-field(form, field)
    .form-input
        .field-input
            .input-select.input(id=form.id+'-'+field.name,type='select', value=field.value)
                .select-value     
                    each v in field.values
                        if v.value=field.value
                            span= v.caption
                    span= '\u00a0'
                .select-values
                    if !field.required
                         .select-value(value='')= '\u00a0'
                    each v in field.values
                        - var cls = (v.value == field.value) ? 'selected' : ''
                        .select-value(value=v.value)= v.caption


mixin form-autocomplete-field(form, field)
    .form-input
        .field-input
            .input-autocomplete.input(id=form.id+'-'+field.name,type='autocomplete', value=field.value)
                .input-line
                    - var n=0; val=form.values[field.name] || field.default || '';
                    while n<val.length
                        - var ch=val.substr(n++,1)
                        if ch=='\n'
                            - n=val.length
                        else
                            span= ch            
                    span.cr= '\u00a0'

mixin form-checkbox-field(form, field)
    .form-input
        .field-input
            .input-checkbox.input(id=form.id+'-'+field.name,type='checkbox', value=field.value)
                .checkbox-ctrl
                    .checkbox-hook.checked
                label(for=form.id+'-'+field.name)= field.caption


mixin form-constant-field(form, field)
    .input-constant.input 

mixin form-label(form, field)
    .form-label
        label.form(for=form.id+'-'+field.name)= (field.caption || field.name) + ':'

mixin empty-label(form, field)
    .form-label
        label

mixin render-form(form)
    form.form(id=form.id,action=form.action)
        fieldset.form
            if form.title
                legend.form= form.title
            for field in form.fields
                if field.type=='description'
                    .description.form= field.content
                else
                    if field.type=='constant'
                        +form-constant-field(form, field)
                    else
                        .form-field(class='field-'+field.type)
                            case field.type
                                when 'string'
                                    +form-label(form, field)
                                    +form-string-field(form, field)
                                when 'text'
                                    +form-label(form, field)
                                    +form-text-field(form, field)
                                when 'select'
                                    +form-label(form, field)
                                    +form-select-field(form, field)
                                when 'autocomplete'
                                    +form-label(form, field)
                                    +form-autocomplete-field(form, field)
                                when 'checkbox'
                                    +empty-label(form, field)
                                    +form-checkbox-field(form, field)



block content
    #form-test
        +render-form(form)

