extends inc/page.pug

block append styles
    +style('admin.css')

block append scripts 
    +script('admin.js')

block content
    H1 Welcome to emmaPOS

    #release-notes
        h3 Whats new..
        if lang=='de'
            include:markdown-it ../release-de.md
        else
            include:markdown-it ../release-en.md
        a.releasenotes(href='release') view complete release notes..
                

    #messages
        h3 Latest Messages:

        if messages && messages.length==0
            .message 
                .message-line There are no Messages yet.
        else
            each msg, cnt in messages
                - var classes=''
                if msg.sticky
                    -classes += ' sticky'
                if msg.urgent
                    -classes += ' urgent'
                if cnt%2
                    -classes += ' even'
                .message(class=classes)
                    if msg.urgent
                        img.icon(src='/img/urgent.png')
                    else
                        if msg.sticky
                            img.icon(src='/img/sticky.png')
                    each line in msg.message.split('\n')
                        .message-line= line

    