extends inc/page.pug

block append styles
    +style('message-form.css')

block append scripts 
    +script('message-form.js')
    script.
        messageform_init();

block content
    
    #message-formx
        .header Please enter your message.

        +render_form(form)

        .footer 
            span.charsleft= 1024
            span= '\u00a0'
            span characters left
