extends inc/page.pug

block append styles
    +style('admin.css')

block append scripts 
    +script('admin.js')

block content
    #messages
        h3 All Messages:

        if messages && messages.length==0
            .message 
                .message-line There are no more Messages.
        else
            each msg, cnt in messages
                - var classes=''
                if msg.sticky
                    -classes += ' sticky'
                if msg.urgent
                    -classes += ' urgent'
                if cnt%2
                    -classes += ' even'
                .message(class=classes)
                    if msg.urgent
                        img.icon(src='/img/urgent.png')
                    else
                        if msg.sticky
                            img.icon(src='/img/sticky.png')
                    each line in msg.message.split('\n')
                        .message-line= line
            a.messages(href='messages?from='+(from+count)+'&count='+count) view older messages..

    