extends inc/page.pug

block append styles
    +style('admin.css')

block content

    #release-notes
        h3 Whats new..
        if lang=='de'
            include:markdown-it ../releasenotes-de.md
        else
            include:markdown-it ../releasenotes-en.md
    