extends inc/page.pug

block append styles
    +style('table.css')

block content

    #sql-product-form
        H3 Download Product catalog
        button#download
            span Download
        H3 Upload Product catalog
        form#upload_form(action='../products.csv', method='post', accept='text/csv', capture='false', enctype='multipart/form-data',style='display:none')
            input#upload_file(name='products', type='file')
        button#upload 
            span Upload
        script 
            . 
                $(() => {
                    $('#download').click(() => {
                        document.location='../products.csv';
                    });
                    $('#upload').click(() => {
                        $('#upload_file').click();
                    });
                    $('#upload_file').change(() => {
                        $('#upload_form').submit();
                    });
                });
