extends inc/page.pug

block append styles
    +style('admin.css')

block content
    #grid-container.grid-view
    script
        != 'jQuery( ($) => {'
        != '    model=new SqlTable("#grid-container", "' + table +'");'
        != '})'