extends inc/page.pug

block append styles
    +style('table.css')

block content

    #sql-tables
        .list
            H3 SQL Tables
            each table in tables
                .list-entry
                    a(href='/sql/'+table+'/')!= table
        .list
            H3 SQL Views
            each view in views
                .list-entry
                    a(href='/sql/'+view+'/')!= view
